<main bg="{{type1.imageLink}}">
  <div class="container">
    <div class="main-content__box">
      <div class="main-content__tags news-tags">
        <span>Novo</span>
      </div>
      <div class="main-content__title">
        <span>{{type1.title}}</span>
      </div>
    </div>
  </div>
</main>

<section class="main-news">
  <div class="container">
    {{#each type2}}
    <div class="main-news__card-container">
      <div class="secondary-news__card-container">
        <div class="card-container__infos">
          <div class="card-container__infos-title">
            <p>{{this.title}}</p>
          </div>
          <div class="card__infos__author">
            <div class="card-news__author-img-container">
              <img class="card-news__author-img" src="./assets/imgs/trali.jpeg" alt="imagem do autor">
            </div>
            <div class="card-news__author-name-container">
              <p class="card-news__author-name">{{this.journalistsName}}</p>
              <p class="card-news__author-date">{{formatDate this.date "dd/MM/yyyy"}}</p>
            </div>
          </div>
        </div>
        <img src="{{this.imageLink}}" alt="">
      </div>
    </div>
    {{/each}}
  </div>
</section>

<section class="weekly-news">
  <div class="container">
    <h2>Notícias semanais</h2>

    <div class="weekly-news__cards-wrapper">

      {{#each type3}}
      <div class="card-container">
        <div class="card__img">
          <img src="{{this.imageLink}}" alt="">
        </div>
        <div class="card__infos">
          <div class="news-tags"><span>novo</span></div>
          <p class="card-news__name">{{this.title}}</p>
          <div class="card__infos__author">
            <div class="card-news__author-img-container">
              <img class="card-news__author-img" src="./assets/imgs/trali.jpeg" alt="imagem do autor">
            </div>
            <div class="card-news__author-name-container">
              <p class="card-news__author-name">{{this.journalistsName}}</p>
              <p class="card-news__author-date">{{formatDate this.date "dd/MM/yyyy"}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</section> 

<section class="you-may-know">
  <h2>Talvez você se interesse</h2>
  <div class="container">
    {{#each type4}}
    <div class="secondary-news__card-container">
      <div class="card-container__infos">
        <div class="card-container__infos-title">
          <p>{{this.title}}</p>
        </div>
        <div class="card__infos__author">
          <div class="card-news__author-img-container">
            <img class="card-news__author-img" src="./assets/imgs/trali.jpeg" alt="imagem do autor">
          </div>
          <div class="card-news__author-name-container">
            <p class="card-news__author-name">{{this.journalistsName}}</p>
            <p class="card-news__author-date">{{formatDate this.date "dd/MM/yyyy"}}</p>
          </div>
        </div>
      </div>
      <img src="{{this.imageLink}}" alt="">
    </div>
    {{/each}}

  </div>
</section>  

<section class="infinite-scroll">
  <div class="container">
    <h2>Publicado recentemente</h2>

    <div class="infinite-wrapper">
      {{#each all}}
      <div class="card-infinite">
      <div class="card-infinite__img-container">
        <img src="{{this.imageLink}}" alt="">
      </div>
      <div class="card-infinite__infos-container">
        <div class="infos-container__title">
          <p>{{this.title}}</p>
        </div>
        <div class="infos-container__author">
          <div class="card-news__author-img-container">
            <img class="card-news__author-img" src="./assets/imgs/trali.jpeg" alt="imagem do autor">
          </div>
          <div class="card-news__author-name-container">
            <p class="card-news__author-name">{{this.journalistsName}}</p>
            <p class="card-news__author-date">{{formatDate this.date "dd/MM/yyyy"}}</p>
          </div>
        </div>
      </div>
      </div>
      {{/each}}
    </div>
    
  </div>
</section>
